@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
	padding: 0;
	border: 0;
    font-size: 16px;
	font: inherit;
	box-sizing: border-box;
    justify-content: center;
}

header{
    padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

main{
    width: 50%;
    margin-left: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input{
    padding: 12px 20px;
    border-radius: 8px;
    width: 75%;
}

input[type=number]:focus {
    border: 2px solid rgb(255, 255, 255);
}

label {
	font-weight: 500;
}

.form-control {
	display: flex;
	flex-direction: column;
}

button{
    border-color: white;
    color: white;
	border-radius: 5px;
	padding: 0.8em 1.25em;
	background-color: rgb(101, 88, 245);
	font-weight: 500;
    justify-content: left;
    width: 20%;
    font-size: 80%;
}

#weight_error, #height_error{
    color: red;
}

h2{
    color: rgba(7, 6, 6, 0.815);
}